ALTER TABLE Users ADD RoleId INT NULL;
ALTER TABLE Users ADD MembershipId INT NULL;
ALTER TABLE Users ADD FullName NVARCHAR(MAX) NULL;
ALTER TABLE Users ADD GoogleId NVARCHAR(MAX) NULL;
ALTER TABLE Users ADD AvatarUrl NVARCHAR(MAX) NULL;
ALTER TABLE Users ADD DateOfBirth DATETIME2 NULL;
ALTER TABLE Users ADD PasswordHash NVARCHAR(MAX) NULL;
