USE [HotelManagementDB]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [CKReviewsrating5DCAEF64]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FKUsersroleid3A81B327]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FKUsersmembershi3B75D760]
GO
ALTER TABLE [dbo].[Services] DROP CONSTRAINT [FKServicescatego4E88ABD4]
GO
ALTER TABLE [dbo].[RoomTypeAmenities] DROP CONSTRAINT [FKRoomTyperoom46E78A0C]
GO
ALTER TABLE [dbo].[RoomTypeAmenities] DROP CONSTRAINT [FKRoomTypeameni47DBAE45]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [FKRoomsroomtype4316F928]
GO
ALTER TABLE [dbo].[RoomInventory] DROP CONSTRAINT [FKRoomInveroom5165187F]
GO
ALTER TABLE [dbo].[RoomImages] DROP CONSTRAINT [FKRoomImagroom4AB81AF0]
GO
ALTER TABLE [dbo].[RolePermissions] DROP CONSTRAINT [FKRolePermrole3F466844]
GO
ALTER TABLE [dbo].[RolePermissions] DROP CONSTRAINT [FKRolePermpermi403A8C7D]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [FKReviewsuserid5BE2A6F2]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [FKReviewsroomty5CD6CB2B]
GO
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT [FKPaymentsinvoic787EE5A0]
GO
ALTER TABLE [dbo].[OrderServices] DROP CONSTRAINT [FKOrderSerbooki7C4F7684]
GO
ALTER TABLE [dbo].[Order_Service_Details] DROP CONSTRAINT [FKOrderSerservi02FC7413]
GO
ALTER TABLE [dbo].[Order_Service_Details] DROP CONSTRAINT [FKOrderSerorder02084FDA]
GO
ALTER TABLE [dbo].[LossAndDamages] DROP CONSTRAINT [FKLossAndroom114A936A]
GO
ALTER TABLE [dbo].[LossAndDamages] DROP CONSTRAINT [FKLossAndbooki10566F31]
GO
ALTER TABLE [dbo].[Invoices] DROP CONSTRAINT [FKInvoicesbookin6FE99F9F]
GO
ALTER TABLE [dbo].[Bookings] DROP CONSTRAINT [FKBookingsvouche5812160E]
GO
ALTER TABLE [dbo].[Bookings] DROP CONSTRAINT [FKBookingsuseri571DF1D5]
GO
ALTER TABLE [dbo].[BookingDetails] DROP CONSTRAINT [FKBookingDroom6D0D32F4]
GO
ALTER TABLE [dbo].[BookingDetails] DROP CONSTRAINT [FKBookingDroom6C190EBB]
GO
ALTER TABLE [dbo].[BookingDetails] DROP CONSTRAINT [FKBookingDbooki6B24EA82]
GO
ALTER TABLE [dbo].[AuditLogs] DROP CONSTRAINT [FKAuditLoguser6754599E]
GO
ALTER TABLE [dbo].[Articles] DROP CONSTRAINT [FKArticlescatego628FA481]
GO
ALTER TABLE [dbo].[Articles] DROP CONSTRAINT [FKArticlesauthor6383C8BA]
GO
ALTER TABLE [dbo].[Vouchers] DROP CONSTRAINT [DFVouchersminbo30F848ED]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DFUsersstatus3C69FB99]
GO
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT [DFRoomsstatus440B1D61]
GO
ALTER TABLE [dbo].[RoomInventory] DROP CONSTRAINT [DFRoomInveprice534D60F1]
GO
ALTER TABLE [dbo].[RoomInventory] DROP CONSTRAINT [DFRoomInvequant52593CB8]
GO
ALTER TABLE [dbo].[RoomImages] DROP CONSTRAINT [DFRoomImagispr4BAC3F29]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [DFReviewscreated5EBF139D]
GO
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT [DFPaymentspaymen797309D9]
GO
ALTER TABLE [dbo].[OrderServices] DROP CONSTRAINT [DFOrderSerstatu7F2BE32F]
GO
ALTER TABLE [dbo].[OrderServices] DROP CONSTRAINT [DFOrderSertotal7E37BEF6]
GO
ALTER TABLE [dbo].[OrderServices] DROP CONSTRAINT [DFOrderSerorder7D439ABD]
GO
ALTER TABLE [dbo].[Memberships] DROP CONSTRAINT [DFMembershidisco25869641]
GO
ALTER TABLE [dbo].[Memberships] DROP CONSTRAINT [DFMembershiminp24927208]
GO
ALTER TABLE [dbo].[LossAndDamages] DROP CONSTRAINT [DFLossAndcreat123EB7A3]
GO
ALTER TABLE [dbo].[Invoices] DROP CONSTRAINT [DFInvoicesstatus75A278F5]
GO
ALTER TABLE [dbo].[Invoices] DROP CONSTRAINT [DFInvoicesfinal74AE54BC]
GO
ALTER TABLE [dbo].[Invoices] DROP CONSTRAINT [DFInvoicestaxam73BA3083]
GO
ALTER TABLE [dbo].[Invoices] DROP CONSTRAINT [DFInvoicesdiscou72C60C4A]
GO
ALTER TABLE [dbo].[Invoices] DROP CONSTRAINT [DFInvoicestotal71D1E811]
GO
ALTER TABLE [dbo].[Invoices] DROP CONSTRAINT [DFInvoicestotal70DDC3D8]
GO
ALTER TABLE [dbo].[Bookings] DROP CONSTRAINT [DFBookingsstatus59063A47]
GO
ALTER TABLE [dbo].[AuditLogs] DROP CONSTRAINT [DFAuditLogcreat68487DD7]
GO
ALTER TABLE [dbo].[Articles] DROP CONSTRAINT [DFArticlespublis6477ECF3]
GO
/****** Object:  Index [UQVouchers357D4CF9D9E4CA0D]    Script Date: 3/7/2026 11:00:16 AM ******/
ALTER TABLE [dbo].[Vouchers] DROP CONSTRAINT [UQVouchers357D4CF9D9E4CA0D]
GO
/****** Object:  Index [UQUsersAB6E61641B61BEEC]    Script Date: 3/7/2026 11:00:16 AM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQUsersAB6E61641B61BEEC]
GO
/****** Object:  Index [UQBookingsFF29040FE8CDD631]    Script Date: 3/7/2026 11:00:16 AM ******/
ALTER TABLE [dbo].[Bookings] DROP CONSTRAINT [UQBookingsFF29040FE8CDD631]
GO
/****** Object:  Index [UQArticles32DD1E4C621B9F62]    Script Date: 3/7/2026 11:00:16 AM ******/
ALTER TABLE [dbo].[Articles] DROP CONSTRAINT [UQArticles32DD1E4C621B9F62]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[Vouchers]') AND type in (N'U'))
DROP TABLE [dbo].[Vouchers]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[Services]') AND type in (N'U'))
DROP TABLE [dbo].[Services]
GO
/****** Object:  Table [dbo].[ServiceCategories]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[ServiceCategories]') AND type in (N'U'))
DROP TABLE [dbo].[ServiceCategories]
GO
/****** Object:  Table [dbo].[RoomTypeAmenities]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[RoomTypeAmenities]') AND type in (N'U'))
DROP TABLE [dbo].[RoomTypeAmenities]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[Rooms]') AND type in (N'U'))
DROP TABLE [dbo].[Rooms]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[RoomTypes]') AND type in (N'U'))
DROP TABLE [dbo].[RoomTypes]
GO
/****** Object:  Table [dbo].[RoomInventory]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[RoomInventory]') AND type in (N'U'))
DROP TABLE [dbo].[RoomInventory]
GO
/****** Object:  Table [dbo].[RoomImages]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[RoomImages]') AND type in (N'U'))
DROP TABLE [dbo].[RoomImages]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[RolePermissions]') AND type in (N'U'))
DROP TABLE [dbo].[RolePermissions]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[Reviews]') AND type in (N'U'))
DROP TABLE [dbo].[Reviews]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[Permissions]') AND type in (N'U'))
DROP TABLE [dbo].[Permissions]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[Payments]') AND type in (N'U'))
DROP TABLE [dbo].[Payments]
GO
/****** Object:  Table [dbo].[OrderServices]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[OrderServices]') AND type in (N'U'))
DROP TABLE [dbo].[OrderServices]
GO
/****** Object:  Table [dbo].[Order_Service_Details]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[Order_Service_Details]') AND type in (N'U'))
DROP TABLE [dbo].[Order_Service_Details]
GO
/****** Object:  Table [dbo].[Memberships]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[Memberships]') AND type in (N'U'))
DROP TABLE [dbo].[Memberships]
GO
/****** Object:  Table [dbo].[LossAndDamages]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[LossAndDamages]') AND type in (N'U'))
DROP TABLE [dbo].[LossAndDamages]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[Invoices]') AND type in (N'U'))
DROP TABLE [dbo].[Invoices]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[Bookings]') AND type in (N'U'))
DROP TABLE [dbo].[Bookings]
GO
/****** Object:  Table [dbo].[BookingDetails]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[BookingDetails]') AND type in (N'U'))
DROP TABLE [dbo].[BookingDetails]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[AuditLogs]') AND type in (N'U'))
DROP TABLE [dbo].[AuditLogs]
GO
/****** Object:  Table [dbo].[Attractions]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[Attractions]') AND type in (N'U'))
DROP TABLE [dbo].[Attractions]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[Articles]') AND type in (N'U'))
DROP TABLE [dbo].[Articles]
GO
/****** Object:  Table [dbo].[ArticleCategories]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[ArticleCategories]') AND type in (N'U'))
DROP TABLE [dbo].[ArticleCategories]
GO
/****** Object:  Table [dbo].[Amenities]    Script Date: 3/7/2026 11:00:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE objectid = OBJECTID(N'[dbo].[Amenities]') AND type in (N'U'))
DROP TABLE [dbo].[Amenities]
GO
USE [master]
GO
/****** Object:  Login [SOJULAP\SoJu]    Script Date: 3/7/2026 11:00:16 AM ******/
DROP LOGIN [SOJULAP\SoJu]
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 3/7/2026 11:00:16 AM ******/
DROP LOGIN [NT SERVICE\Winmgmt]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 3/7/2026 11:00:16 AM ******/
DROP LOGIN [NT SERVICE\SQLWriter]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY$MSSQLSERVER01]    Script Date: 3/7/2026 11:00:16 AM ******/
DROP LOGIN [NT SERVICE\SQLTELEMETRY$MSSQLSERVER01]
GO
/****** Object:  Login [NT SERVICE\SQLAgent$MSSQLSERVER01]    Script Date: 3/7/2026 11:00:16 AM ******/
DROP LOGIN [NT SERVICE\SQLAgent$MSSQLSERVER01]
GO
/****** Object:  Login [NT Service\MSSQL$MSSQLSERVER01]    Script Date: 3/7/2026 11:00:16 AM ******/
DROP LOGIN [NT Service\MSSQL$MSSQLSERVER01]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 3/7/2026 11:00:16 AM ******/
DROP LOGIN [NT AUTHORITY\SYSTEM]
GO
/****** Object:  Login [##MSPolicyTsqlExecutionLogin##]    Script Date: 3/7/2026 11:00:16 AM ******/
DROP LOGIN [##MSPolicyTsqlExecutionLogin##]
GO
/****** Object:  Login [##MSPolicyEventProcessingLogin##]    Script Date: 3/7/2026 11:00:16 AM ******/
DROP LOGIN [##MSPolicyEventProcessingLogin##]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MSPolicyEventProcessingLogin##]    Script Date: 3/7/2026 11:00:16 AM ******/
CREATE LOGIN [##MSPolicyEventProcessingLogin##] WITH PASSWORD=N'dNA3x6NXMGBHf/cWmqaO8HYIUDbL9KvDWsfD+iRZzCU=', DEFAULTDATABASE=[master], DEFAULTLANGUAGE=[usenglish], CHECKEXPIRATION=OFF, CHECKPOLICY=ON
GO
ALTER LOGIN [##MSPolicyEventProcessingLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MSPolicyTsqlExecutionLogin##]    Script Date: 3/7/2026 11:00:16 AM ******/
CREATE LOGIN [##MSPolicyTsqlExecutionLogin##] WITH PASSWORD=N'02rK4WClSif5zK5qjGefke1n6bvuyIB28EqB/1iA1fU=', DEFAULTDATABASE=[master], DEFAULTLANGUAGE=[usenglish], CHECKEXPIRATION=OFF, CHECKPOLICY=ON
GO
ALTER LOGIN [##MSPolicyTsqlExecutionLogin##] DISABLE
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 3/7/2026 11:00:16 AM ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULTDATABASE=[master], DEFAULTLANGUAGE=[usenglish]
GO
/****** Object:  Login [NT Service\MSSQL$MSSQLSERVER01]    Script Date: 3/7/2026 11:00:16 AM ******/
CREATE LOGIN [NT Service\MSSQL$MSSQLSERVER01] FROM WINDOWS WITH DEFAULTDATABASE=[master], DEFAULTLANGUAGE=[usenglish]
GO
/****** Object:  Login [NT SERVICE\SQLAgent$MSSQLSERVER01]    Script Date: 3/7/2026 11:00:16 AM ******/
CREATE LOGIN [NT SERVICE\SQLAgent$MSSQLSERVER01] FROM WINDOWS WITH DEFAULTDATABASE=[master], DEFAULTLANGUAGE=[usenglish]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY$MSSQLSERVER01]    Script Date: 3/7/2026 11:00:16 AM ******/
CREATE LOGIN [NT SERVICE\SQLTELEMETRY$MSSQLSERVER01] FROM WINDOWS WITH DEFAULTDATABASE=[master], DEFAULTLANGUAGE=[usenglish]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 3/7/2026 11:00:16 AM ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULTDATABASE=[master], DEFAULTLANGUAGE=[usenglish]
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 3/7/2026 11:00:16 AM ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULTDATABASE=[master], DEFAULTLANGUAGE=[usenglish]
GO
/****** Object:  Login [SOJULAP\SoJu]    Script Date: 3/7/2026 11:00:16 AM ******/
CREATE LOGIN [SOJULAP\SoJu] FROM WINDOWS WITH DEFAULTDATABASE=[master], DEFAULTLANGUAGE=[usenglish]
GO
EXEC sys.spaddsrvrolemember @loginame = N'NT Service\MSSQL$MSSQLSERVER01', @rolename = N'sysadmin'
GO
EXEC sys.spaddsrvrolemember @loginame = N'NT SERVICE\SQLAgent$MSSQLSERVER01', @rolename = N'sysadmin'
GO
EXEC sys.spaddsrvrolemember @loginame = N'NT SERVICE\SQLWriter', @rolename = N'sysadmin'
GO
EXEC sys.spaddsrvrolemember @loginame = N'NT SERVICE\Winmgmt', @rolename = N'sysadmin'
GO
EXEC sys.spaddsrvrolemember @loginame = N'SOJULAP\SoJu', @rolename = N'sysadmin'
GO
USE [HotelManagementDB]
GO
/****** Object:  Table [dbo].[Amenities]    Script Date: 3/7/2026 11:00:16 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[iconurl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGEON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticleCategories]    Script Date: 3/7/2026 11:00:16 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleCategories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[categoryid] [int] NULL,
	[authorid] [int] NULL,
	[title] [nvarchar](max) NOT NULL,
	[slug] [nvarchar](255) NULL,
	[content] [nvarchar](max) NULL,
	[thumbnailurl] [nvarchar](max) NULL,
	[publishedat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGEON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attractions]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[Attractions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[distancekm] [decimal](5, 2) NULL,
	[description] [nvarchar](max) NULL,
	[mapembedlink] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGEON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[action] [nvarchar](50) NOT NULL,
	[tablename] [nvarchar](100) NOT NULL,
	[recordid] [int] NOT NULL,
	[oldvalue] [nvarchar](max) NULL,
	[newvalue] [nvarchar](max) NULL,
	[createdat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGEON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingDetails]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bookingid] [int] NULL,
	[roomid] [int] NULL,
	[roomtypeid] [int] NULL,
	[checkindate] [datetime] NOT NULL,
	[checkoutdate] [datetime] NOT NULL,
	[pricepernight] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[guestname] [nvarchar](255) NULL,
	[guestphone] [nvarchar](50) NULL,
	[guestemail] [nvarchar](255) NULL,
	[bookingcode] [nvarchar](50) NOT NULL,
	[voucherid] [int] NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bookingid] [int] NULL,
	[totalroomamount] [decimal](18, 2) NULL,
	[totalserviceamount] [decimal](18, 2) NULL,
	[discountamount] [decimal](18, 2) NULL,
	[taxamount] [decimal](18, 2) NULL,
	[finaltotal] [decimal](18, 2) NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LossAndDamages]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[LossAndDamages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bookingdetailid] [int] NULL,
	[roominventoryid] [int] NULL,
	[quantity] [int] NOT NULL,
	[penaltyamount] [decimal](18, 2) NOT NULL,
	[description] [nvarchar](max) NULL,
	[createdat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGEON [PRIMARY]
GO
/****** Object:  Table [dbo].[Memberships]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[Memberships](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tiername] [nvarchar](100) NOT NULL,
	[minpoints] [int] NULL,
	[discountpercent] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Service_Details]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Service_Details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderserviceid] [int] NULL,
	[serviceid] [int] NULL,
	[quantity] [int] NOT NULL,
	[unitprice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderServices]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderServices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bookingdetailid] [int] NULL,
	[orderdate] [datetime] NULL,
	[totalamount] [decimal](18, 2) NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoiceid] [int] NULL,
	[paymentmethod] [nvarchar](50) NULL,
	[amountpaid] [decimal](18, 2) NOT NULL,
	[transactioncode] [nvarchar](100) NULL,
	[paymentdate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[roomtypeid] [int] NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[createdat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGEON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[roleid] [int] NOT NULL,
	[permissionid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roleid] ASC,
	[permissionid] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGEON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomImages]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomImages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomtypeid] [int] NULL,
	[imageurl] [nvarchar](max) NOT NULL,
	[isprimary] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGEON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomInventory]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomInventory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomid] [int] NULL,
	[itemname] [nvarchar](255) NOT NULL,
	[quantity] [int] NULL,
	[priceiflost] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[baseprice] [decimal](18, 2) NOT NULL,
	[capacityadults] [int] NOT NULL,
	[capacitychildren] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGEON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomtypeid] [int] NULL,
	[roomnumber] [nvarchar](50) NOT NULL,
	[floor] [int] NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypeAmenities]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypeAmenities](
	[roomtypeid] [int] NOT NULL,
	[amenityid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roomtypeid] ASC,
	[amenityid] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategories]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[categoryid] [int] NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[unit] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roleid] [int] NULL,
	[membershipid] [int] NULL,
	[fullname] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](50) NULL,
	[passwordhash] [nvarchar](max) NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGEON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 3/7/2026 11:00:17 AM ******/
SET ANSINULLS ON
GO
SET QUOTEDIDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[discounttype] [nvarchar](50) NOT NULL,
	[discountvalue] [decimal](18, 2) NOT NULL,
	[minbookingvalue] [decimal](18, 2) NULL,
	[validfrom] [datetime] NULL,
	[validto] [datetime] NULL,
	[usagelimit] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, IGNOREDUPKEY = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Amenities] ON 

INSERT [dbo].[Amenities] ([id], [name], [iconurl]) VALUES (1, N'Wifi Miễn Phí', N'wifi.png')
INSERT [dbo].[Amenities] ([id], [name], [iconurl]) VALUES (2, N'Smart TV', N'tv.png')
INSERT [dbo].[Amenities] ([id], [name], [iconurl]) VALUES (3, N'Điều Hòa', N'ac.png')
SET IDENTITY_INSERT [dbo].[Amenities] OFF
GO
SET IDENTITY_INSERT [dbo].[ArticleCategories] ON 

INSERT [dbo].[ArticleCategories] ([id], [name]) VALUES (1, N'Tin Tức Khách Sạn')
INSERT [dbo].[ArticleCategories] ([id], [name]) VALUES (2, N'Cẩm Nang Du Lịch')
INSERT [dbo].[ArticleCategories] ([id], [name]) VALUES (3, N'Khám Phá Ẩm Thực')
SET IDENTITY_INSERT [dbo].[ArticleCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Articles] ON 

INSERT [dbo].[Articles] ([id], [categoryid], [authorid], [title], [slug], [content], [thumbnailurl], [publishedat]) VALUES (1, 1, 1, N'Khai trương nhà hàng mới', N'khai-truong-nha-hang', N'Nội dung...', NULL, CAST(N'2026-03-06T22:07:35.023' AS DateTime))
INSERT [dbo].[Articles] ([id], [categoryid], [authorid], [title], [slug], [content], [thumbnailurl], [publishedat]) VALUES (2, 2, 2, N'5 điểm đến không thể bỏ lỡ', N'5-diem-den', N'Nội dung...', NULL, CAST(N'2026-03-06T22:07:35.023' AS DateTime))
INSERT [dbo].[Articles] ([id], [categoryid], [authorid], [title], [slug], [content], [thumbnailurl], [publishedat]) VALUES (3, 3, 3, N'Món ngon hải sản địa phương', N'mon-ngon-hai-san', N'Nội dung...', NULL, CAST(N'2026-03-06T22:07:35.023' AS DateTime))
SET IDENTITY_INSERT [dbo].[Articles] OFF
GO
SET IDENTITY_INSERT [dbo].[Attractions] ON 

INSERT [dbo].[Attractions] ([id], [name], [distancekm], [description], [mapembedlink]) VALUES (1, N'Chợ Trung Tâm', CAST(1.50 AS Decimal(5, 2)), N'Khu chợ truyền thống sầm uất', N'linkmap1')
INSERT [dbo].[Attractions] ([id], [name], [distancekm], [description], [mapembedlink]) VALUES (2, N'Bãi Biển Chính', CAST(0.50 AS Decimal(5, 2)), N'Bãi tắm công cộng tuyệt đẹp', N'linkmap2')
INSERT [dbo].[Attractions] ([id], [name], [distancekm], [description], [mapembedlink]) VALUES (3, N'Bảo Tàng Thành Phố', CAST(3.00 AS Decimal(5, 2)), N'Lưu giữ giá trị lịch sử', N'linkmap3')
SET IDENTITY_INSERT [dbo].[Attractions] OFF
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([id], [userid], [action], [tablename], [recordid], [oldvalue], [newvalue], [createdat]) VALUES (1, 1, N'UPDATE', N'Rooms', 1, N'{"status":"Cleaning"}', N'{"status":"Available"}', CAST(N'2026-03-06T22:07:35.023' AS DateTime))
INSERT [dbo].[AuditLogs] ([id], [userid], [action], [tablename], [recordid], [oldvalue], [newvalue], [createdat]) VALUES (2, 2, N'DELETE', N'Bookings', 5, N'{"id":5}', N'{}', CAST(N'2026-03-06T22:07:35.023' AS DateTime))
INSERT [dbo].[AuditLogs] ([id], [userid], [action], [tablename], [recordid], [oldvalue], [newvalue], [createdat]) VALUES (3, 3, N'CREATE', N'Invoices', 1, N'{}', N'{"id":1}', CAST(N'2026-03-06T22:07:35.023' AS DateTime))
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingDetails] ON 

INSERT [dbo].[BookingDetails] ([id], [bookingid], [roomid], [roomtypeid], [checkindate], [checkoutdate], [pricepernight]) VALUES (1, 1, 1, 1, CAST(N'2026-03-01T00:00:00.000' AS DateTime), CAST(N'2026-03-03T00:00:00.000' AS DateTime), CAST(400000.00 AS Decimal(18, 2)))
INSERT [dbo].[BookingDetails] ([id], [bookingid], [roomid], [roomtypeid], [checkindate], [checkoutdate], [pricepernight]) VALUES (2, 2, 2, 2, CAST(N'2026-03-05T00:00:00.000' AS DateTime), CAST(N'2026-03-10T00:00:00.000' AS DateTime), CAST(500000.00 AS Decimal(18, 2)))
INSERT [dbo].[BookingDetails] ([id], [bookingid], [roomid], [roomtypeid], [checkindate], [checkoutdate], [pricepernight]) VALUES (3, 3, NULL, 3, CAST(N'2026-04-10T00:00:00.000' AS DateTime), CAST(N'2026-04-12T00:00:00.000' AS DateTime), CAST(700000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[BookingDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([id], [userid], [guestname], [guestphone], [guestemail], [bookingcode], [voucherid], [status]) VALUES (1, 6, N'Khách Hàng A', N'0900000006', NULL, N'BK-0001', NULL, N'Completed')
INSERT [dbo].[Bookings] ([id], [userid], [guestname], [guestphone], [guestemail], [bookingcode], [voucherid], [status]) VALUES (2, 7, N'Khách Hàng B', N'0900000007', NULL, N'BK-0002', 1, N'Checkedin')
INSERT [dbo].[Bookings] ([id], [userid], [guestname], [guestphone], [guestemail], [bookingcode], [voucherid], [status]) VALUES (3, 8, N'Khách Hàng C', N'0900000008', NULL, N'BK-0003', NULL, N'Confirmed')
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([id], [bookingid], [totalroomamount], [totalserviceamount], [discountamount], [taxamount], [finaltotal], [status]) VALUES (1, 1, CAST(800000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(80000.00 AS Decimal(18, 2)), CAST(880000.00 AS Decimal(18, 2)), N'Paid')
INSERT [dbo].[Invoices] ([id], [bookingid], [totalroomamount], [totalserviceamount], [discountamount], [taxamount], [finaltotal], [status]) VALUES (2, 2, CAST(2500000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), CAST(250000.00 AS Decimal(18, 2)), CAST(245000.00 AS Decimal(18, 2)), CAST(2695000.00 AS Decimal(18, 2)), N'Unpaid')
INSERT [dbo].[Invoices] ([id], [bookingid], [totalroomamount], [totalserviceamount], [discountamount], [taxamount], [finaltotal], [status]) VALUES (3, 3, CAST(1400000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(140000.00 AS Decimal(18, 2)), CAST(1540000.00 AS Decimal(18, 2)), N'Unpaid')
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Loss_And_Damages] ON 

INSERT [dbo].[Loss_And_Damages] ([id], [bookingdetailid], [roominventoryid], [quantity], [penaltyamount], [description], [createdat]) VALUES (1, 1, 2, 1, CAST(300000.00 AS Decimal(18, 2)), N'Làm mất điều khiển tivi', CAST(N'2026-03-06T22:07:35.030' AS DateTime))
INSERT [dbo].[Loss_And_Damages] ([id], [bookingdetailid], [roominventoryid], [quantity], [penaltyamount], [description], [createdat]) VALUES (2, 2, 4, 1, CAST(50000.00 AS Decimal(18, 2)), N'Làm vỡ cốc thủy tinh', CAST(N'2026-03-06T22:07:35.030' AS DateTime))
INSERT [dbo].[Loss_And_Damages] ([id], [bookingdetailid], [roominventoryid], [quantity], [penaltyamount], [description], [createdat]) VALUES (3, 6, 3, 1, CAST(400000.00 AS Decimal(18, 2)), N'Làm hỏng bình đun siêu tốc', CAST(N'2026-03-06T22:07:35.030' AS DateTime))
SET IDENTITY_INSERT [dbo].[Loss_And_Damages] OFF
GO
SET IDENTITY_INSERT [dbo].[Memberships] ON 

INSERT [dbo].[Memberships] ([id], [tiername], [minpoints], [discountpercent]) VALUES (1, N'Khách Mới', 0, CAST(0.00 AS Decimal(5, 2)))
INSERT [dbo].[Memberships] ([id], [tiername], [minpoints], [discountpercent]) VALUES (2, N'Đồng', 500, CAST(2.00 AS Decimal(5, 2)))
INSERT [dbo].[Memberships] ([id], [tiername], [minpoints], [discountpercent]) VALUES (3, N'Bạc', 1000, CAST(5.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Memberships] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Service_Details] ON 

INSERT [dbo].[Order_Service_Details] ([id], [orderserviceid], [serviceid], [quantity], [unitprice]) VALUES (1, 2, 2, 1, CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[Order_Service_Details] ([id], [orderserviceid], [serviceid], [quantity], [unitprice]) VALUES (2, 2, 10, 1, CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[Order_Service_Details] ([id], [orderserviceid], [serviceid], [quantity], [unitprice]) VALUES (3, 4, 3, 1, CAST(500000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Order_Service_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Services] ON 

INSERT [dbo].[Order_Services] ([id], [bookingdetailid], [orderdate], [totalamount], [status]) VALUES (1, 1, CAST(N'2026-03-06T22:07:35.027' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'Cancelled')
INSERT [dbo].[Order_Services] ([id], [bookingdetailid], [orderdate], [totalamount], [status]) VALUES (2, 2, CAST(N'2026-03-06T22:07:35.027' AS DateTime), CAST(200000.00 AS Decimal(18, 2)), N'Delivered')
INSERT [dbo].[Order_Services] ([id], [bookingdetailid], [orderdate], [totalamount], [status]) VALUES (3, 3, CAST(N'2026-03-06T22:07:35.027' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'Pending')
SET IDENTITY_INSERT [dbo].[Order_Services] OFF
GO
SET IDENTITY_INSERT	 [dbo].[PaymentMethods] ON

INSERT	[dbo].[PaymentMethods] ([Id], [Name], [Description]) VALUES (1, 'Cash', 'By cash')
INSERT	[dbo].[PaymentMethods] ([Id], [Name], [Description]) VALUES (2, 'Transfer', 'Bank transer')
INSERT	[dbo].[PaymentMethods] ([Id], [Name], [Description]) VALUES (3, 'Momo', 'Momo')
SET IDENTITY_INSERT	 [dbo].[PaymentMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([id], [invoiceid], [paymentmethodid], [amountpaid], [transactioncode], [paymentdate]) VALUES (1, 1, 1, CAST(880000.00 AS Decimal(18, 2)), N'CASH001', CAST(N'2026-03-06T22:07:35.027' AS DateTime))
INSERT [dbo].[Payments] ([id], [invoiceid], [paymentmethodid], [amountpaid], [transactioncode], [paymentdate]) VALUES (2, 2, 2, CAST(1000000.00 AS Decimal(18, 2)), N'VNPAY123', CAST(N'2026-03-06T22:07:35.027' AS DateTime))
INSERT [dbo].[Payments] ([id], [invoiceid], [paymentmethodid], [amountpaid], [transactioncode], [paymentdate]) VALUES (3, 3, 3, CAST(500000.00 AS Decimal(18, 2)), N'CC456', CAST(N'2026-03-06T22:07:35.027' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([id], [name]) VALUES (1, N'VIEWDASHBOARD')
INSERT [dbo].[Permissions] ([id], [name]) VALUES (2, N'MANAGEUSERS')
INSERT [dbo].[Permissions] ([id], [name]) VALUES (3, N'MANAGEROLES')
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([id], [userid], [roomtypeid], [rating], [comment], [createdat]) VALUES (1, 6, 1, 5, N'Phòng tuyệt vời!', CAST(N'2026-03-06T22:07:35.023' AS DateTime))
INSERT [dbo].[Reviews] ([id], [userid], [roomtypeid], [rating], [comment], [createdat]) VALUES (2, 7, 2, 4, N'Khá tốt, nhân viên thân thiện.', CAST(N'2026-03-06T22:07:35.023' AS DateTime))
INSERT [dbo].[Reviews] ([id], [userid], [roomtypeid], [rating], [comment], [createdat]) VALUES (3, 8, 3, 3, N'Bình thường, điều hòa hơi ồn.', CAST(N'2026-03-06T22:07:35.023' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
INSERT [dbo].[RolePermissions] ([roleid], [permissionid]) VALUES (1, 1)
INSERT [dbo].[RolePermissions] ([roleid], [permissionid]) VALUES (1, 2)
INSERT [dbo].[RolePermissions] ([roleid], [permissionid]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [name], [description]) VALUES (1, N'Admin', N'Quản trị viên')
INSERT [dbo].[Roles] ([id], [name], [description]) VALUES (2, N'Manager', N'Quản lý khách sạn')
INSERT [dbo].[Roles] ([id], [name], [description]) VALUES (3, N'Receptionist', N'Lễ tân')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomImages] ON 

INSERT [dbo].[RoomImages] ([id], [roomtypeid], [imageurl], [isprimary]) VALUES (1, 1, N'type1img.jpg', 1)
INSERT [dbo].[RoomImages] ([id], [roomtypeid], [imageurl], [isprimary]) VALUES (2, 2, N'type2img.jpg', 1)
INSERT [dbo].[RoomImages] ([id], [roomtypeid], [imageurl], [isprimary]) VALUES (3, 3, N'type3img.jpg', 1)
SET IDENTITY_INSERT [dbo].[RoomImages] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomInventory] ON 

INSERT [dbo].[RoomInventory] ([id], [roomid], [itemname], [quantity], [priceiflost]) VALUES (1, 1, N'Tivi Samsung 40 inch', 1, CAST(5000000.00 AS Decimal(18, 2)))
INSERT [dbo].[RoomInventory] ([id], [roomid], [itemname], [quantity], [priceiflost]) VALUES (2, 1, N'Điều Khiển Tivi', 1, CAST(300000.00 AS Decimal(18, 2)))
INSERT [dbo].[RoomInventory] ([id], [roomid], [itemname], [quantity], [priceiflost]) VALUES (3, 2, N'Khăn Tắm Lớn', 2, CAST(200000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[RoomInventory] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([id], [name], [baseprice], [capacityadults], [capacitychildren], [description]) VALUES (1, N'Standard Single', CAST(400000.00 AS Decimal(18, 2)), 1, 0, N'Phòng tiêu chuẩn 1 giường đơn')
INSERT [dbo].[RoomTypes] ([id], [name], [baseprice], [capacityadults], [capacitychildren], [description]) VALUES (2, N'Standard Double', CAST(500000.00 AS Decimal(18, 2)), 2, 1, N'Phòng tiêu chuẩn 1 giường đôi')
INSERT [dbo].[RoomTypes] ([id], [name], [baseprice], [capacityadults], [capacitychildren], [description]) VALUES (3, N'Superior City View', CAST(700000.00 AS Decimal(18, 2)), 2, 1, N'Phòng cao cấp hướng phố')
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([id], [roomtypeid], [roomnumber], [floor], [status]) VALUES (1, 1, N'101', 1, N'Available')
INSERT [dbo].[Rooms] ([id], [roomtypeid], [roomnumber], [floor], [status]) VALUES (2, 2, N'102', 1, N'Occupied')
INSERT [dbo].[Rooms] ([id], [roomtypeid], [roomnumber], [floor], [status]) VALUES (3, 3, N'201', 2, N'Cleaning')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
INSERT [dbo].[RoomTypeAmenities] ([roomtypeid], [amenityid]) VALUES (1, 1)
INSERT [dbo].[RoomTypeAmenities] ([roomtypeid], [amenityid]) VALUES (1, 2)
INSERT [dbo].[RoomTypeAmenities] ([roomtypeid], [amenityid]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[ServiceCategories] ON 

INSERT [dbo].[ServiceCategories] ([id], [name]) VALUES (1, N'Nhà Hàng & Ẩm Thực')
INSERT [dbo].[ServiceCategories] ([id], [name]) VALUES (2, N'Spa & Massage')
INSERT [dbo].[ServiceCategories] ([id], [name]) VALUES (3, N'Di Chuyển & Đưa Đón')
SET IDENTITY_INSERT [dbo].[ServiceCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([id], [categoryid], [name], [price], [unit]) VALUES (1, 1, N'Set Ăn Sáng Buffet', CAST(200000.00 AS Decimal(18, 2)), N'Người')
INSERT [dbo].[Services] ([id], [categoryid], [name], [price], [unit]) VALUES (2, 1, N'Mì Ý Hải Sản', CAST(150000.00 AS Decimal(18, 2)), N'Phần')
INSERT [dbo].[Services] ([id], [categoryid], [name], [price], [unit]) VALUES (3, 2, N'Massage Toàn Thân 60p', CAST(500000.00 AS Decimal(18, 2)), N'Lượt')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [roleid], [membershipid], [fullname], [email], [phone], [passwordhash], [status]) VALUES (1, 1, NULL, N'Nguyễn Admin', N'admin@hotel.com', N'0900000001', N'hash1', 1)
INSERT [dbo].[Users] ([id], [roleid], [membershipid], [fullname], [email], [phone], [passwordhash], [status]) VALUES (2, 2, NULL, N'Trần Manager', N'manager@hotel.com', N'0900000002', N'hash2', 1)
INSERT [dbo].[Users] ([id], [roleid], [membershipid], [fullname], [email], [phone], [passwordhash], [status]) VALUES (3, 3, NULL, N'Lê Lễ Tân', N'reception1@hotel.com', N'0900000003', N'hash3', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([id], [code], [discounttype], [discountvalue], [minbookingvalue], [validfrom], [validto], [usagelimit]) VALUES (1, N'KM1', N'PERCENT', CAST(10.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2026-12-31T00:00:00.000' AS DateTime), 100)
INSERT [dbo].[Vouchers] ([id], [code], [discounttype], [discountvalue], [minbookingvalue], [validfrom], [validto], [usagelimit]) VALUES (2, N'KM2', N'FIXEDAMOUNT', CAST(100000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2026-12-31T00:00:00.000' AS DateTime), 50)
INSERT [dbo].[Vouchers] ([id], [code], [discounttype], [discountvalue], [minbookingvalue], [validfrom], [validto], [usagelimit]) VALUES (3, N'KM3', N'PERCENT', CAST(15.00 AS Decimal(18, 2)), CAST(2000000.00 AS Decimal(18, 2)), CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2026-12-31T00:00:00.000' AS DateTime), 30)
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
GO
SET ANSIPADDING ON
GO
/****** Object:  Index [UQArticles32DD1E4C621B9F62]    Script Date: 3/7/2026 11:00:17 AM ******/
ALTER TABLE [dbo].[Articles] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, SORTINTEMPDB = OFF, IGNOREDUPKEY = OFF, ONLINE = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
GO
SET ANSIPADDING ON
GO
/****** Object:  Index [UQBookingsFF29040FE8CDD631]    Script Date: 3/7/2026 11:00:17 AM ******/
ALTER TABLE [dbo].[Bookings] ADD UNIQUE NONCLUSTERED 
(
	[bookingcode] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, SORTINTEMPDB = OFF, IGNOREDUPKEY = OFF, ONLINE = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
GO
SET ANSIPADDING ON
GO
/****** Object:  Index [UQUsersAB6E61641B61BEEC]    Script Date: 3/7/2026 11:00:17 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, SORTINTEMPDB = OFF, IGNOREDUPKEY = OFF, ONLINE = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
GO
SET ANSIPADDING ON
GO
/****** Object:  Index [UQVouchers357D4CF9D9E4CA0D]    Script Date: 3/7/2026 11:00:17 AM ******/
ALTER TABLE [dbo].[Vouchers] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PADINDEX = OFF, STATISTICSNORECOMPUTE = OFF, SORTINTEMPDB = OFF, IGNOREDUPKEY = OFF, ONLINE = OFF, ALLOWROWLOCKS = ON, ALLOWPAGELOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articles] ADD  DEFAULT (getdate()) FOR [publishedat]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [createdat]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [totalroomamount]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [totalserviceamount]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [discountamount]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [taxamount]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [finaltotal]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('Unpaid') FOR [status]
GO
ALTER TABLE [dbo].[LossAndDamages] ADD  DEFAULT (getdate()) FOR [createdat]
GO
ALTER TABLE [dbo].[Memberships] ADD  DEFAULT ((0)) FOR [minpoints]
GO
ALTER TABLE [dbo].[Memberships] ADD  DEFAULT ((0.00)) FOR [discountpercent]
GO
ALTER TABLE [dbo].[OrderServices] ADD  DEFAULT (getdate()) FOR [orderdate]
GO
ALTER TABLE [dbo].[OrderServices] ADD  DEFAULT ((0)) FOR [totalamount]
GO
ALTER TABLE [dbo].[OrderServices] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [paymentdate]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [createdat]
GO
ALTER TABLE [dbo].[RoomImages] ADD  DEFAULT ((0)) FOR [isprimary]
GO
ALTER TABLE [dbo].[RoomInventory] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[RoomInventory] ADD  DEFAULT ((0)) FOR [priceiflost]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ('Available') FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((0)) FOR [minbookingvalue]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD FOREIGN KEY([authorid])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD FOREIGN KEY([categoryid])
REFERENCES [dbo].[ArticleCategories] ([id])
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD FOREIGN KEY([userid])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD FOREIGN KEY([bookingid])
REFERENCES [dbo].[Bookings] ([id])
GO
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD FOREIGN KEY([roomid])
REFERENCES [dbo].[Rooms] ([id])
GO
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD FOREIGN KEY([roomtypeid])
REFERENCES [dbo].[RoomTypes] ([id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([userid])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([voucherid])
REFERENCES [dbo].[Vouchers] ([id])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([bookingid])
REFERENCES [dbo].[Bookings] ([id])
GO
ALTER TABLE [dbo].[LossAndDamages]  WITH CHECK ADD FOREIGN KEY([bookingdetailid])
REFERENCES [dbo].[BookingDetails] ([id])
GO
ALTER TABLE [dbo].[LossAndDamages]  WITH CHECK ADD FOREIGN KEY([roominventoryid])
REFERENCES [dbo].[RoomInventory] ([id])
GO
ALTER TABLE [dbo].[Order_Service_Details]  WITH CHECK ADD FOREIGN KEY([orderserviceid])
REFERENCES [dbo].[OrderServices] ([id])
GO
ALTER TABLE [dbo].[Order_Service_Details]  WITH CHECK ADD FOREIGN KEY([serviceid])
REFERENCES [dbo].[Services] ([id])
GO
ALTER TABLE [dbo].[OrderServices]  WITH CHECK ADD FOREIGN KEY([bookingdetailid])
REFERENCES [dbo].[BookingDetails] ([id])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([invoiceid])
REFERENCES [dbo].[Invoices] ([id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([roomtypeid])
REFERENCES [dbo].[RoomTypes] ([id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([userid])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD FOREIGN KEY([permissionid])
REFERENCES [dbo].[Permissions] ([id])
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD FOREIGN KEY([roleid])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[RoomImages]  WITH CHECK ADD FOREIGN KEY([roomtypeid])
REFERENCES [dbo].[RoomTypes] ([id])
GO
ALTER TABLE [dbo].[RoomInventory]  WITH CHECK ADD FOREIGN KEY([roomid])
REFERENCES [dbo].[Rooms] ([id])
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD FOREIGN KEY([roomtypeid])
REFERENCES [dbo].[RoomTypes] ([id])
GO
ALTER TABLE [dbo].[RoomTypeAmenities]  WITH CHECK ADD FOREIGN KEY([amenityid])
REFERENCES [dbo].[Amenities] ([id])
GO
ALTER TABLE [dbo].[RoomTypeAmenities]  WITH CHECK ADD FOREIGN KEY([roomtypeid])
REFERENCES [dbo].[RoomTypes] ([id])
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD FOREIGN KEY([categoryid])
REFERENCES [dbo].[ServiceCategories] ([id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([membershipid])
REFERENCES [dbo].[Memberships] ([id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([roleid])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
